@media screen and (max-width: 900px){

  main .main-right .right-center .recently{
    flex-wrap: wrap;
  }

  main .main-right .right-center .artist{
    width: calc(25% - 10px );
    
  }
}

@media screen and (max-width: 560px){

  main .main-right .right-center .artist{
    width: calc(50% - 10px);
    
  }
}

@media screen and (max-width: 450px){

  main .main-left{
    width: 55px;
  }

  main .main-right{
    width: calc(100% - 55px);
  }

  main .main-right .right-top{
    width: calc(100% - 55px);
  }

  main .main-left .up .logo{
    margin-bottom: 10px;
  }

  .logo-big{
    display: none;
  }
  .logo-small{
    display: block;
  }


  main .main-left .up a, h4, h5, hr{
    display: none;
  }

  .install{
    display: none;
  }
}

