@media screen and (max-width: 900px){

  main .main-right .right-center .recently{
    flex-wrap: wrap;
  }
  main .main-right .right-center .artist{
    width: calc(25% - 10px );
    
  }
}

@media screen and (max-width: 560px){

  main .main-right .right-center .artist{
    width: calc(50% - 10px);
    
  }
}

@media screen and (max-width: 420px){

  .logo-big{
    display: none;
  }
  .logo-small{
    display: block;
  }


  main .main-left .up a, h4, h5, hr{
    display: none;
  }
}

