/* MAIN */
main{
  width: 100%;
  height: calc(100vh - 75px);
  background-color: #141922;

}

/* MAIN LEFT */
/* LEFT-UP */
main .main-left{
  width: 180px;
  height: 100%;
  padding: 15px;
  background-color: black;
  justify-content: space-between;
}

main .main-left .up{
  width: 100%;
  height: calc(100% - 75px);
  overflow: hidden;
}

main .main-left .up .logo{
  margin-bottom: 20px;
  width: 80%;
}

main .main-left .up .logo .logo-small{
  display: none;
}

main .main-left .direction{
  margin-bottom: 5px;
  opacity: 0.7;
}

main .main-left .direction a:hover{
  opacity: 1;
}

main .main-left .direction img{
  width: 15%;
  margin-right: 5px;
}

main .main-left .direction a{
  align-self: center;
  font-size: 13px;
}

main .main-left .up h4{
  margin-top: 15px;
}

main .main-left .up .direction i{
  font-size: 35px;
  margin: 10px 10px 10px 0;
}

main .main-left .up .direction .play{
  font-size: 15px;
}

main .main-left .up .direction nav ul li{
  font-size: 10px;
  margin-bottom: 10px;
}
/*/ LEFT-UP */

/* LEFT-DOWN */
main .main-left .down{
  width: 100%;
  height: 75px;
}

main .main-left .down .direction i{
  margin: 10px 10px 10px 0;
}

main .main-left .down .profile{
  margin-top: 15px;
}
main .main-left .down .profile img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #808080;
}

main .main-left .down .profile h5{
  place-self: center;
}
/*/ LEFT-DOWN */
/*/ MAIN LEFT */

/* MAIN RIGHT */
main .main-right{
  width: calc(100% - 180px);
  height: 100%;
}

/* RIGHT-TOP */
main .main-right .right-top{
  position: fixed;
  width: calc(100% - 180px);
  height: 75px;
  background-color: rgba(0, 0, 0, .4);
  justify-content: flex-end;
  z-index: 999;
}

main .main-right .right-top a{
  align-self: center;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 15px;
}

main .main-right .right-top a:hover{
  transform: scale(1.1);
}
/*/ RIGHT-TOP */

/* RIGHT-CENTER */
main .main-right .right-center{
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

main .main-right .right-center .menu{
  margin: 0px 10px ;
  justify-content: center;
  text-align: center;
}

main .main-right .right-center .menu ul{
  justify-content: center;
}

main .main-right .right-center .menu ul li a{
  font-size: 12px;
  margin: 10px;
}


main .main-right .right-center h2{
  margin: 15px 0;
}

main .main-right .right-center .recently{
  justify-content: space-between;
  margin: 20px;
}

main .main-right .right-center .artist{
  width: 15%;
  text-align: center;
}

main .main-right .right-center .artist h5{
  margin: 10px;
}

main .main-right .right-center .artist p{
  font-size: 10px;
}

main .main-right .right-center .albums{
  margin: 20px;
}

main .main-right .right-center .albums .artist{
  margin-right: 25px;
}

main .main-right .right-center .title{
  margin: 20px;
}

main .main-right .right-center .title p{
  font-size: 13px;
}
/*/ RIGHT-CENTER */
/*/ MAIN RIGHT */
/*/ MAIN */


/* FOOTER */
footer{
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #282828;
  justify-content: space-between;
}

/* FOOTER LEFT */
footer .footer-left{
  width: 170px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

footer .footer-left .picture{
  width: 40px;
  height: 40px;
  margin: 10px;
}

footer .footer-left .track-name p{
  font-size: 10px;
  margin-right: 40px;
}
/*/ FOOTER LEFT */

/* FOOTER CENTER */
footer .footer-center{
  width: 35%;
  align-items: center;
}

footer .footer-center .action{
  width: 50%;
  justify-content: space-between;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 5px;
}

footer .footer-center .action a .fa-solid{
  font-size: 13px;
}

footer .footer-center .action a .fa-regular{
  font-size: 25px;
}

footer .footer-center .progress-container{
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer .footer-center .progress-container span{
  font-size: 12px;
}

footer .footer-center .progress-container .progress-bar{
  width: 80%;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 10px;
}

footer .footer-center .progress-container .progress-bar .progress{
  width: 30%;
  height: 4px;
  background-color: #c1c1c1;
  border-radius: 10px;
}


footer .footer-right{
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
}

footer .footer-right i{
  font-size: 12px;
}

footer .footer-right .progress-bar{
  width: 60%;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 10px;
}

footer .footer-right .progress-bar .progress{
  width: 30%;
  height: 4px;
  background-color: #c1c1c1;
  border-radius: 10px;
}

/*/ FOOTER CENTER */

/* FOOTER RIGHT */
footer .footer-right{
  width: 170px;
}
/* /FOOTER RIGHT */
/*/ FOOTER */