/* MAIN */
main{
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #141922;

}

/* MAIN LEFT */
/* LEFT-UP */
main .main-left{
  width: 170px;
  height: 100%;
  padding: 15px;
  background-color: black;
  justify-content: space-between;
}

main .main-left .up{
  width: 100%;
  height: calc(100% - 75px);
}

main .main-left .up .logo{
  margin-bottom: 20px;
  width: 80%;
}

main .main-left .direction{
  margin-bottom: 10px;
  opacity: .7;
}

main .main-left .direction img{
  width: 15%;
  margin-right: 5px;
}

main .main-left .direction a{
  align-self: center;
  font-size: 13px;
}

main .main-left .up h4{
  margin-top: 15px;
}

main .main-left .up .direction i{
  font-size: 35px;
  margin: 10px 10px 15px 0;
}

main .main-left .up .direction .play{
  font-size: 15px;
}

main .main-left .up .direction nav ul li{
  font-size: 13px;
  margin-bottom: 10px;
}
/*/ LEFT-UP */

/* LEFT-DOWN */
main .main-left .down{
  width: 100%;
  height: 75px;
}

main .main-left .down .direction i{
  margin: 10px 10px 5px 0;
}

main .main-left .down .profile{
  margin-top: 15px;
}
main .main-left .down .profile img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #808080;
}

main .main-left .down .profile h5{
  place-self: center;
}

/*/ LEFT-DOWN */
/*/ MAIN LEFT */


/* MAIN RIGHT */
.main-right{
  width: calc(100% -170px);
  height: 100%;
  flex-direction: column;
}

.right-top{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  justify-content: flex-end;
}

.right-center{
  width: 100%;
  height: 100%;
  margin-top: 60px;
}
/*/ MAIN RIGHT */
/*/ MAIN */


footer{
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #282828;
}