/* MAIN */
main{
  width: 100%;
  height: calc(100vh - 75px);
  background-color: #141922;

}

/* MAIN LEFT */
/* LEFT-UP */
main .main-left{
  width: 180px;
  height: 100%;
  padding: 15px;
  background-color: black;
  justify-content: space-between;
}

main .main-left .up{
  width: 100%;
  height: calc(100% - 75px);
  overflow: hidden;
}

main .main-left .up .logo{
  margin-bottom: 20px;
  width: 80%;
}

main .main-left .up .logo .logo-small{
  display: none;
}

main .main-left .direction{
  margin-bottom: 5px;
  opacity: 0.7;
}

main .main-left .direction a:hover{
  opacity: 1;
}

main .main-left .direction img{
  width: 15%;
  margin-right: 5px;
}

main .main-left .direction a{
  align-self: center;
  font-size: 13px;
}

main .main-left .up h4{
  margin-top: 15px;
}

main .main-left .up .direction i{
  font-size: 35px;
  margin: 10px 10px 10px 0;
}

main .main-left .up .direction .play{
  font-size: 15px;
}

main .main-left .up .direction nav ul li{
  font-size: 10px;
  margin-bottom: 10px;
}
/*/ LEFT-UP */

/* LEFT-DOWN */
main .main-left .down{
  width: 100%;
  height: 75px;
}

main .main-left .down .direction i{
  margin: 10px 10px 10px 0;
}

main .main-left .down .profile{
  margin-top: 15px;
}
main .main-left .down .profile img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #808080;
}

main .main-left .down .profile h5{
  place-self: center;
}
/*/ LEFT-DOWN */
/*/ MAIN LEFT */

/* MAIN RIGHT */
main .main-right{
  width: calc(100% - 180px);
  height: 100%;
}

/* RIGHT-TOP */
main .main-right .right-top{
  position: fixed;
  width: calc(100% - 180px);
  height: 75px;
  background-color: rgba(0, 0, 0, .4);
  justify-content: flex-end;
  z-index: 999;
}

main .main-right .right-top a{
  align-self: center;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 15px;
}

main .main-right .right-top a:hover{
  transform: scale(1.1);
}
/*/ RIGHT-TOP */

/* RIGHT-CENTER */
main .main-right .right-center{
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

main .main-right .right-center .menu{
  margin: 0px 10px ;
  justify-content: center;
  text-align: center;
}

main .main-right .right-center .menu ul{
  justify-content: center;
}

main .main-right .right-center .menu ul li a{
  font-size: 12px;
  padding: 10px;
}


main .main-right .right-center h2{
  margin: 15px 0;
}

main .main-right .right-center .recently{
  justify-content: space-between;
  margin: 20px;
}

main .main-right .right-center .artist{
  width: 15%;
  text-align: center;
}

main .main-right .right-center .artist h5{
  margin: 10px;
}

main .main-right .right-center .artist p{
  font-size: 10px;
}

main .main-right .right-center .albums{
  margin: 20px;
}

main .main-right .right-center .albums .artist{
  margin-right: 25px;
}

main .main-right .right-center .title{
  margin: 20px;
}

main .main-right .right-center .title p{
  font-size: 13px;
}

.circle{
  border-radius: 50%;
}

/*/ RIGHT-CENTER */
/*/ MAIN RIGHT */
/*/ MAIN */


/* FOOTER */
footer{
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #282828;
}

/*/ FOOTER */